/* 1. Thiết lập chung */
body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* 2. Menu nằm ngang */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

    .logo span {
        background: #00c3a5;
        padding: 0 8px;
        margin-right: 5px;
    }

nav ul {
    display: flex;
    list-style: none;
}

    nav ul li {
        margin-left: 20px;
    }

        nav ul li a {
            color: #888;
            text-decoration: none; /* Bỏ gạch chân */
            font-size: 13px;
            font-weight: 600;
        }

            nav ul li a:hover {
                color: #00c3a5;
            }

/* 3. Khung nội dung */
.info-card {
    background: #2d2d2d;
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 5px;
}

.badge {
    background: #00c3a5;
    padding: 5px 15px;
    font-weight: bold;
}

.subtitle {
    color: #888;
    margin-top: 20px;
    letter-spacing: 2px;
}

h1 {
    font-size: 48px;
    margin: 10px 0 30px 0;
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.details {
    list-style: none;
    padding: 0;
    flex: 1;
}

    .details li {
        padding: 10px 0;
        border-bottom: 1px dashed #444;
        font-size: 14px;
    }

    .details strong {
        width: 100px;
        display: inline-block;
        color: #888;
    }

.profile-pic img {
    max-width: 300px;
    border: 10px solid #333;
    margin-left: 30px;
}
